
body{
  background-color: rgba(158, 215, 235, 0.05)
}
.fixed-header {
  background-color: rgb(255, 255, 255);
  z-index: 999;
}

.navbar-brand img {
  width: 200px;
  height: 80px;
  margin-left: 0;
}

#logo {
  color: #010101;
}

.menunav {
  margin-left: 0;
  margin-right: auto;
}
.buttonnav {
  margin-inline-end: 0;
}

#menu {
  margin-left: auto;
}
.navbar-dark .navbar-toggler-icon {
  background-color: #343a40;
}
.navbar-nav .nav-item {
  margin-right: 20px;
}

.menunav .nav-item a {
  color: #090909 !important;
  font-size: 15px !important;
  font-weight: 450;
  
}

.buttonnav .nav-link {
  color: #000000 !important;
  font-size: 15px !important;
  font-weight: 450;
}

.navbar-nav .nav-link:hover {
  color: #625e5e !important;
}

.navbar-nav .dropdown-menu {
  background-color: #ececec;
  z-index: 999;
  
}

.navbar-nav .dropdown-item {
  color: #0c0c0c !important;
  font-size: 15px;
  font-weight: 500;
 
}


#navbarNav .nav-item {

  margin-top: 0;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}
#navbarNav .nav-item:hover {

  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}
tr,td,th{
  text-align: center;
  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
p,P {
  font-family:sans-serif;
  font-size: 17px;

}

h3  {
  /* color:  #d19500; */
  font-size: 25px;
}
h4 {
  /* color:  #d19500; */
  font-size: 23px;
}
h5 {
  /* color:  #d19500; */
  font-size: 20px;
}
h6 {
  /* color:  #d19500; */
  font-size: 18px;
}


.textwidget-link a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin-top: 3px;

  font-size: 16px;
}
.CORPORATE {
  letter-spacing: 1px;
  color:  #d19500;
  margin-top: 5px;
  font-size: 19px;
}
.followus {
  color: #d19500;
  font-size: 18px;
  text-transform: lowercase;
}
.textwidget-link h5 {
  color:  #d19500;
  text-align: left;

}
.textwidget-link{
  text-align: left;
}


.textwidget-link .link a{
  /* margin-top: 2px; */
  text-align: left;
  
}
.textwidget-link .link a:hover{
 color:  #d19500;
  text-decoration: underline;
}
.site-footer {
  background-color:black;
}
.footer-head {
  color: #fce1a7;
  font-size: 20px;
}
.address {
  font-size: 17px;
  text-align: center;
}

.address img {
  margin: auto;
  width: 120px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.sc-icons:hover {
  background-color: white;
  padding: 2px;
}
a {
  text-decoration: none;
}

.LOGIN {
  margin-left: 10px;
  margin-right: auto;
  color: black;
  font-weight: 500;

 
}
.LOGIN:hover {
  background-color: #d19500;
  margin-left: 10px;
  margin-right: auto;
  color: WHITE;
  font-weight: bold;
}
.start button {
  width: fit-content;
  background-color: #d19500;
 
}
.start button:hover {
  width: fit-content;
  background-color:  #d19500;
}
.start a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 0 5px;
}
.start a:hover {
  text-decoration: underline;
}

#goToTopButton {
  position: fixed;
  bottom: 12px;
  right: 15px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  background-color: rgb(76, 75, 75);
  z-index: 2;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
#goToTopButton.visible {
  opacity: 1; 
}
.whatsapp-icon {
  position: fixed;
  bottom: 70px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-image: url("https://cdn.iconscout.com/icon/free/png-512/free-whatsapp-135-493160.png?f=webp&w=256"); 
   background-size: cover;
  cursor: pointer;
  z-index: 2;
 
}
.docs li{
  font-size: 16px;
  margin-top: 3px;
}


.tooltip {
  display: none;
  position: absolute;
  bottom: 100%; 
  right: 50%;
  transform: translateX(50%); 
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

td{
  font-size: 0.1em;
}
th{
  font-size: 0.1em;
}
tr{
  font-size: 0.1rem;
}
.whatsapp-icon:hover .tooltip {
  display: block;
}
.frmhd{
  background-color: #d19500;
}
.frmsbmt{
  background-color: #d19500;
  color: white;
  font-weight: 500;
}
.frmsbmt:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #d19500;
  font-weight: 500;
}






.cover {
  top: 0;
  text-transform: capitalize ;

 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 1px gray;
  box-shadow: 1px 1px 1px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.intakerow{
  background: linear-gradient(TO left,#BC6D00, #f1c607,#BC6D00);
  border-radius: 20px;
  margin-top: 5px;
}

.Season{
  color: #ffffff;
  margin-top: 5px;

}
.month{
  color:rgb(255, 252, 252);
}
.UniRankingContainer{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
  border-radius: 15px;
  background-color: white;
}
input {
  background-color: white;
}
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
  border-radius: 7px;
}
.Card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
  border-radius: 7pxpx;
}

/* For webkit autofill */
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  background-color: white !important;
}
/* @media screen and (max-width: 1300px) {
  iframe {
  
    width: auto;
    height: 100%;
  }
} */
@media screen and (max-width:768px) {
  
  h1,h2,h3{
    font-size: 20px;
  }
  h4,h5,h6{
    font-size:18px ;
  }
  p{
    font-size: 15px;
  }
  li{
    font-size: 15px;
  }

  li a{
    font-size: 14px;
  }
 
  
  button , .btn{
    font-size: 16px;
  }
}



@media screen and (max-width: 576px) {
  .textwidget-link h4 {
    color: #d19500;
    text-align: left;
  
  }
  .textwidget-link{
    text-align: left;
  }
  .address {
    font-size: 17px;
    text-align: left;
  }
}


@media screen and (min-width:576px) and (max-width:980px) {
  .address{
    text-align: left;
  }
}


@media (min-width: 992px) {
  .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  header {
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 999;
  }
}
