.MASTERS {
    /* background-image: url('../images/webImages/Framesop\ banner.svg'); */
          height: 80vh;
         background-color:rgba(255, 187, 0, 0.288);
          display: flex;
          max-width: 100%;
          justify-content: space-between;
          align-items: center;
        
      }
  .abticon1{
    background-color:rgba(255, 187, 0, 0.164);
  }
  .ourservices{
    color: #D19500;
    font-size: 40px;
  }
  .srvcbtn a{
    color: white;
    background-color: #D19500;
    border-radius: 10px;
    font-weight: 500;
  }
  .srvcbtn a:hover{
    color:  #D19500;
    background-color: #fffefd;
    border-radius: 10px;
    /* text-decoration: underline; */
  }
      

    
      .get li{
        font-size: 17px;
        
      }
      .liimg ul li{
        margin-top: 5px;
    }
    .sopimg{
        float: right;
        clear: right;
        width: 400px;
        height: 400px;
    }

    @media (max-width: 1200px) {
        .sopcard .card {
            position: static;
            transform: none;
            margin-top: 20px;
            width: 100%;
            max-width: auto;
        }
        .sopcard .img-fluid{
width: 100%;
        }
        .liimg ul li{
            width: 95%;
        }
        .liimg .sopimg{
width: 95%;
        }
    }


    @media only screen and (max-width: 767px) {
        .container-fluid.MASTERS {
          height: auto; /* Adjust height for smaller screens */
          flex-direction: column; /* Stack elements vertically */
          text-align: center; /* Center text */
        }
      .MASTERS img{
        width: 300px ;
        height: auto;
      }
        .col-md-6 {
          width: 100%; /* Make columns full width on small screens */
          margin: 0; /* Remove margin on small screens */
        }
      
        .ourservices {
          font-size: 20px; /* Adjust font size for smaller screens */
        }
      
        .srvcbtn {
          margin-top: 20px;
          /* Add space between text and button */
        }
        .srvcbtn a{
          font-size: 12px;
        }
      
        
      }