
 


 

  .form-control{
    outline: none;
    color: #626262;
   
    
    width: 100%;
    /* padding-left: 8px;
    padding-bottom: 5px; */
    font-size: 1em;
    font-weight: 400;
  }
.form-body{
    position: sticky;
    top: 110px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

tr{
    text-align: left;
    vertical-align: middle;
}
 
.top{
 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(0, 68, 255);
  color: white;
}


.docs li{
  margin-top: 5px;
  font-size: 16px;
}
    

  .top li{
    margin-top: 6px;
  }
  .top li a{
    font-size: 17px;
    z-index: 1;
    color: white;
  
  
  }
  .top li a:hover{
    text-decoration: underline;
  }
  /* small screen */

  
  
  .cus-container{
    width: 100%;
    height: auto;
  }
  #scrollContainer {
    transition: transform 0.5s ease-in-out;
}

.slide-up {
    transform: translateY(-100%);

    height: 0;
}
  
      